APP_PORT=

#KAFKA
KAFKA_CLIENT_ID=
KAFKA_BROKERS=
KAFKA_RETRY_COUNT=
KAFKA_CONSUMER_GROUP_ID=
KAFKA_EXAMPLE_TOPIC=

#DATABASE
DB_ADAPTER=postgres
DB_USER=
DB_PWD=
DB_NAME=
DB_MASTER=localhost:5432
DB_SLAVES=localhost:5432

#CACHE
CACHE_NS=
CACHE_HOST=
CACHE_PORT=
CACHE_DB=
CACHE_PWD=

#API